     @font-face {
         font-family:micrenc;
         src: url('/zNewBrandyWCheck/static/src/fonts/micr-encoding.regular.ttf') format('truetype');
     }
    .ckus_payee_name {
        top: 0.09in !important;
        width: 4.5in !important;
        text-align: left;
    }
    .check_heading{
        font-size:20px;
    }
    .check_pay{
        left: 0.45in;
        text-transform:uppercase;
        top: 1.2in;
        font-weight:500;
    }
    .ckus_amount_in_word {
        top: 1.0in !important;
    }
    .check_margin0{
        margin-bottom:0px !important;
    }
    .check_partner_name{
        top: 1.5in !important;
        left: 1.2in;
    }
    .check_partner_name_of_Us{
        top: 1.40in;
        left: 1.65in;
    }
    .ckus_amount {
        top: 1.40in !important;
        left: 6.1in !important;
        width: 1.08in;
        text-align: left;
        font-size:15px !important;
    }
    .check_margin{
        top: 1.22in;
        margin-right:10px;
        font-size:15px;
        font-weight:bold;
    }
    .ckus_payee_addr {
        top: 1.7in !important;
        left: 0.0in !important;
        line-height: 1.5em !important;
    }
    .check_heading_partner{
        font-size:14px;
    }
    .ckus_memo {
        top: 3.10in !important;
        left: 0.6in;
        width: 2.9in;
        text-align: left;
        font-size: 25px;
        overflow: hidden;
    }
    .check_memo{
        top: 2.3in !important;
        text-transform:uppercase;
        font-size:13px;
        left: 0.0in;
    }
    .check_routing_account{
        top: 3.00in !important;
        text-align:center;
        text-transform:uppercase;
        font-size:30px;
        left: 2.3in;
        font-family:micrenc !important;
        width:100% !important;
        display:inline-block;
    }
    .ckus_payee_bank {
        top: 0.09in !important;
        left: 3.5in !important;
        width: 3.0in;
    }
    .ckca_company_addr{
        top: 0.09in;
        left: 3.0in;
    }
    .ckca_payee_name {
        top: 0.09in !important;
        left: 0.5in;
        width: 4.0in;
        text-align: left;
    }
    .check_custom_pay{
        text-transform:uppercase;
        top: 1.40in;
        font-weight:500;
    }
    .ckus_payee_addr .bank{
        font-size:12px;
    }
    .text_design{
        top: 0in;
        left: 5.0in;
    }
    .text_design .text_decorate{
        text-decoration: underline;
    }
    .ckus_date{
        top: 1.40in !important;
        left: 4.2in !important;
    }
    .ckus_date_format{
        top:1.40in;
        left: 4.3in;

    }
    .ckus_amount_text{
        top: 1.40in;
        left: 6.77in;
    }
    .stub_total_amount{
        top: 0.0;
    }
    .ckus_check {
        .sequence_number {
            left: 7.0in !important;
            }
        }

.ckus_stub_2 {
    top: 7.4in !important;
}

.ckus_stub_1{
    top: 0in !important;
}

.ckus_check {
    top: 3.6in !important;
}   